.cast-form {
  display: flex;
  flex-direction: column;
}

.input {
  background-color: white;
  height: 5em;
  width: 80%;
  margin: 10px auto;
  resize: none;
  font-family: Arial, Helvetica, sans-serif;
}

.input textarea {
  padding: 7px;
  color: black;
}

.input__suggestions {
  color: black;
  margin-top: 30px !important;
  border: 1px solid lightgray;
  margin-left: -25px !important;
}

.input__suggestions__item {
  padding: 5px 5px;
  /* margin: 5px 0; */
  border: 1px solid lightgray;
  /* border-radius: 5px; */
  cursor: pointer;
  background-color: white;
}
.input__suggestions__item:hover {
  background-color: lightgray;
}

button {
  margin: 10px auto;
  width: 100px;
}
